.react-tagsinput {
  background-color: #fff;
  border: 1px;
  overflow: hidden;
  padding-left: 5px;
  padding-top: 5px;
}


#react-autowhatever-1 ul{
  list-style-type: none;
}

#react-autowhatever-1{
  background-color: grey;
}
